@{
    ViewBag.Title = "Inicio";
}

<!-- Main content -->
<section class="content container-fluid">
    <div class="jumbotron">
        <h1>Web API CommonServices</h1>
        <p class="lead">Servicios Web API en .Net del Banco Santander Per&uacute;. </p>
    </div>
</section>
